body {
    background: ghostwhite;
    display: flex;
    flex-flow: column;
    align-items: center;
}

h1 {
    background: mediumaquamarine;
    border-radius: 10px;
    width: max-content;
    padding: 10px 20px;
}

p {
    font-family: "Calibri Light", Calibri, serif;
    font-size: 18px;
}