body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    padding: 50px;
    margin: 0;
}

h2 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: center;
    font-size: 48px;
    color: #DDDDDD;
    text-shadow: 2px 2px 15px #000000;
}

.dino {
    position: absolute;
    width: 60px;
    height: 60px;
    background: url(../img/dino.png);
    inset: auto auto 0 80px;
}

.grid {
    position: absolute;
    overflow: hidden;
    inset: 0;
}

.obstacle {
    position: absolute;
    width: 60px;
    height: 60px;
    background: url(../img/cactus.png);
    bottom: 0;
}

.obstacle.moving {
    animation: obstacle 2.5s linear;
}

div#desert {
    position: relative;
    background: url(../img/bg.png) repeat-x;
    height: 200px;
    width: 100vw;
}
div#desert.moving {
    /* Safari > 8 doesn't need -webkit prefix, too outdated to keep maintenance */
    animation: slider-right .7s infinite linear;

}

/* Safari > 8 doesn't need -webkit prefix, too outdated to keep maintenance */
@keyframes slider-right {
    from {
        background-position: 521px;
    }
    to {
        background-position: 0;
    }
}

@keyframes obstacle {
    from {
        left: 100%;
    }
    to {
        left: -60px;
    }
}